@use 'sass:list';
@use 'sass:map';
@use 'sass:math';

//media query breakpoints:
$Desktop: 1280px;
$Tablet: 768px;
$Mobile: 0px;

//colors See InStock Figma 2.Colors
//Primary Colors
$InstockBlack: #13182C; //Global text color
$InstockIndigo: #2E66E5; //Interactive elements
$White: #FFFFFF; //Golbal White color
//Secondary Colors
$Slate: #5C667E; //Table column headers & placeholder text
$Cloud: #BDC5D5; //Outlines, dividers, borders, table sorting icon
//Background Colors
$Graphite: #232940; //Top navigation header background; CTA button hover state background
$LightGrey: #F7F8F9; //Page background; Table column header background; CTA background
//Supporting Colors
$Green: #158463; // "In stock" label
$Red: #C94515; //"Out of stock" label; Error states; Delete Icon

//Below Variables for Layout Grid. See InStock Figma 3.Layout Grid. 
//You can opt not to use display:grid at all, hence You will not need these variables.
$breakpoints: (
    desktop: 1280px,
    tablet: 768px,
    mobile: 0px,
) !default;

$default-margin: (
    desktop: auto,
    tablet: 0 36px,
    mobile: 0 16px,
) !default;

$default-gutter: (
    desktop: 24px,
    tablet: 24px,
    mobile: 16px,
) !default;

$default-content-width: (
    desktop: calc(63*12 + 24*11) + px,
    tablet: auto,
    mobile: auto,
) !default;

$column-width: (
    desktop: 63px,
    tablet: auto,
    mobile: auto,
) !default;

$columns: (
    desktop: 12,
    tablet: 12,
    mobile: 6,
) !default;

$mobile: (
    mobile: true,
) !default;

$max-width: null !default;

