@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.container{
    // Following is the base styling code for making your box appear on top of the footer and hear
    //pls keep in mind that the postion of the box is not perfectly aligned as I was just
    //trying to test how the main component would appear on the footer and the header
    
    background-color: $White;
    position: absolute;
    z-index: 3;
    color: red;
    width: 90vw;
    height: 70vh;
    top: 3.75rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}