@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables" as *;


.tsb{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: auto;
    color: $InstockBlack;
    margin-bottom: 1.5rem;
    &-title{
        @include text-styles("PageHeader",true)
    }
}



.container {
  @include media-query_("mobile") {
    color: $InstockBlack;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: start;
    gap:4rem;
    @include text-styles("BodyMedium", true);
    padding-top: 1rem;
    &-icons{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        padding-bottom: 1rem;
    }
    
  }
  @include media-query_("tablet") {
    //style goes here
  }

  @include media-query_("desktop") {
    //style goes here
  }
}

h3{
    color:$Slate;
    @include text-styles("TableHeader", true);
}
.break{
    border-top: 1px solid $Cloud;

}