@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.divider {
    border: ($Cloud 1px solid);
    @include media-query_('tablet'){
        margin-top: -0.25rem;
    }

    @include media-query_('desktop'){
        margin-top: -0.25rem;
    }
}
.divider2 {
    border: ($Cloud 1px solid);

    @include media-query_('mobile'){
        visibility: hidden;
     }

    @include media-query_('tablet'){
        margin: 1rem 0;
    }

    @include media-query_('desktop'){
        margin: 1rem 0;
    }
}
.divider3 {
    border: ($Cloud 1px solid);

    @include media-query_('tablet'){
        visibility: hidden;
    }

    @include media-query_('desktop'){
        visibility: hidden;
    }
}

.warehouse {
    box-shadow: 0px 2px 5px 0px #13182C1A;
    margin: 0 1rem;
    background-color: $White;
    position: absolute;
    z-index: 3;
    width: 90vw;
    @include media-query_('desktop'){
        width: 80vw;
        top: -101px;
    }
    height: fit-content;
    top: 58.75rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @include media-query_('tablet'){
        top: 3.5625rem;
    }

    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 1.5rem 0;
        @include media-query_('tablet'){
            margin: 0 2rem 0;
         }
    
         @include media-query_('desktop'){
            margin: 0 2.5rem 0;
         }   


        &--text{
             @include media-query_('mobile'){
                @include text-styles('PageHeader', true)
             }
            @include text-styles('PageHeader');
            display: flex;

            & a{
                margin-right: 0.5rem;
                padding-top: 0.125rem;
            }

        }

        &--edit{
            width: 5.75rem;
            @include media-query_('mobile'){
                width: 2.5rem;
            }
            height: 2.5rem;
            display: flex;
            background-color: $InstockIndigo;
            border-radius: 20px;
            text-decoration: none;

            &-text{
                margin: auto;
                color: $White;
                @include text-styles('LabelsLinksButtons');

                @include media-query_('mobile'){
                    visibility: hidden;
                }
            }

            &-icon{
                padding: 0.37rem;
            }
        }
    }

    &__details{
        margin: 0 1.5rem;

         @include media-query_('tablet'){
            margin: 0 2rem;
            display: flex;
            justify-content: space-between;
         }
    
         @include media-query_('desktop'){
            margin: 0 2.5rem;
            display: flex;
            justify-content: space-between;
         }        

        &--address{
            display: flex;
            flex-direction: column;
            @include media-query_('desktop'){
                width: 30%;
            }
            
            & h4{
                 @include media-query_('mobile'){
                    @include text-styles('TableHeader', true);
                }
                @include text-styles('TableHeader');
                margin-bottom: 0;
                color: $Slate                                                       
            }

            & p{
                 @include media-query_('mobile'){
                    @include text-styles('BodyMedium', true);
                }    
                @include text-styles('BodyMedium');
                margin-top: 0.25rem;
                color: $InstockBlack
            }
        }

        &--contact{
            display: flex;
            justify-content: space-between;

            @include media-query_('tablet'){
                width: 60%;
                justify-content: flex-start;
            }

            @include media-query_('desktop'){
                width: 60%;
                justify-content: flex-start;
            }

            &-name{
                @include media-query_('tablet'){
                    width: 50%;
                }
                @include media-query_('desktop'){
                    width: 50%;
                }

                & h4{
                    @include media-query_('mobile'){
                        @include text-styles('TableHeader', true);
                    }
                    @include text-styles('TableHeader');
                    margin-bottom: 0;
                    color: $Slate                                                       
                }
    
                & p{
                    @include media-query_('mobile'){
                        @include text-styles('BodyMedium', true);
                    }
                    @include text-styles('BodyMedium');
                    margin-top: 0.25rem;
                    color: $InstockBlack
                }
            }

            &-info{
                @include media-query_('tablet'){
                    width: 50%;
                }
                @include media-query_('desktop'){
                    width: 50%;
                }

                & h4{
                    @include media-query_('mobile'){
                        @include text-styles('TableHeader', true);
                    }
                    @include text-styles('TableHeader');
                    margin-bottom: 0;
                    color: $Slate
                }
    
                & p{
                    @include media-query_('mobile'){
                        @include text-styles('BodyMedium', true);
                    }
                    @include text-styles('BodyMedium');
                    margin-top: 0.25rem;
                    color: $InstockBlack
                }
            }
        }
    }
}

.inventories{


    &__container{
        @include media-query_("mobile") {
            color: $InstockBlack;
            display: flex;
            flex-direction: row;
            width: 80%;
            margin: auto;
            justify-content: start;
            gap:4rem;
            @include text-styles("TableHeader", true);
            padding-top: 1rem;
            &-icons{
                display: flex;
                justify-content: space-between;
                width: 80%;
                margin: auto;
                padding-bottom: 1rem;
                cursor: pointer;
            }
            
          }

          @include media-query_ ('tablet'){
            display: flex;
            flex-direction: row;
            width: 65%;
            justify-content: space-between;
            gap: 4rem;
            @include text-styles('TableHeader')
          }
          @include media-query_ ('desktop'){
            display: flex;
            flex-direction: row;
            width: 65%;
            justify-content: space-between;
            gap: 4rem;
            @include text-styles('TableHeader')
          }
               
        
    }

    &__masterContainer{
        @include media-query_('mobile'){
            display: flex;
            flex-direction: column;

        }

        @include media-query_('tablet'){
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            align-items: center;
            border-bottom: 1px solid $Cloud;
        }
        @include media-query_('desktop'){
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            align-items: center;
            border-bottom: 1px solid $Cloud;
        }
       
      }
    


    &__container--deleter{
        cursor: pointer;
    }
    &__container--itemName{
        color:$InstockIndigo;
        text-decoration: none;
        @include media-query_('mobile'){
            @include text-styles("LabelsLinksButtons", true);
        }
    }

    &__container--headers{
        @include media-query_('mobile'){
            color:$Slate;
            @include text-styles("TableHeader", true);
        }
    }

    &__container--statusQuantity{
        @include media-query_ ('mobile'){
            display: flex;
            flex-direction: column;
        }
        @include media-query_ ('tablet'){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 70%;
        }
        @include media-query_ ('desktop'){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 30%;
        }
    }

    &__container--titleCategory{
        @include media-query_ ('tablet'){
            display: flex;
            justify-content: space-between;
            width: 70%;
        }
        @include media-query_ ('desktop'){
            display: flex;
            justify-content: space-between;
            width: 47%;
        }
    }

    &__container-icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include media-query_('tablet'){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 9%;
        }
        @include media-query_('desktop'){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 6%;
        }
    }
    &__container--stockIsIn{
        background: rgba(21, 132, 99, 0.07);
        color: $Green;
        border-radius: 20px;
        padding: 4px 8px 4px 8px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10px;

    }
    
    &__container--stockIsOut{
        background-color: rgba(201, 69, 21, 0.07);
        color: $Red;
        border-radius: 20px;
        padding: 4px 8px 4px 8px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10px;
    }
    
}

.footer {
    @include media-query_('mobile'){
        padding-top: 101rem
    }
    @include media-query_('tablet'){
        padding-top: 45rem; 
    }
    @include media-query_('desktop'){
        padding-top: 40rem; 
    }
}

.inventoryLink{
    text-decoration: none;
    display: flex;
    flex-direction: row;

    @include media-query_('tablet'){
        @include text-styles("LabelsLinksButtons");
    }
}

.break {
    @include media-query_('tablet'){
        display: none;
    }
    @include media-query_('desktop'){
        display: none;
    }
    }
   

.labels {
    @include media-query_("mobile") {
      display: none;
    }
    @include media-query_("tablet") {
      display: flex;
      flex-direction: row;
      @include text-styles("TableHeader");
      background-color: #f7f8f9;
      color: $Slate;
      height: 2.5rem;
      align-items: center;
      gap: 34px;
      
    }
    @include media-query_("desktop") {
      display: flex;
      flex-direction: row;
      @include text-styles("TableHeader");
      background-color: #f7f8f9;
      color: $Slate;
      height: 2.5rem;
      align-items: center;
      justify-content: space-around;
     
    }
  
    &-title {
      @include media-query_("tablet") {
        display: flex;
        flex-direction: row;
        gap: .5rem;
      }
      @include media-query_("desktop") {
        display: flex;
        flex-direction: row;
      }
    }

    &-title--actions{
       
        @include media-query_("tablet") {
            display: flex;
            flex-direction: row;
            gap: .5rem;
            padding-left: 1rem;
          }
          @include media-query_("desktop") {
            display: flex;
            flex-direction: row;
          }
    }
  }
  #labels-padding1{
    @include media-query_("tablet") {
     margin-left: 2.5rem;
      
    }
    @include media-query_("desktop") {
      margin-left: 0;
       
     }
  }
  #labels-padding2{
    @include media-query_("tablet") {
        padding-left: .625rem;
      
    }
    @include media-query_("desktop") {
        padding-left: .625rem;
       
     }
  }
  #labels-padding3{
    @include media-query_("tablet") {
        padding-left: 25px;
      
    }
    @include media-query_("desktop") {
        padding-left: 25px;
       
     }
  }
  #labels-padding5{
    @include media-query_("tablet") {
      padding-left: 1rem;
       
     }
     @include media-query_("desktop") {
      margin-right: 3rem;
       
     }
  }

