@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

// Eg.  

//  @include media-query_('mobile'){
//     visibility: hidden;
//  }
//  @include media-query_('tablet'){
//      //style goes here
//  }

//  @include media-query_('desktop'){
//     //style goes here
//  }

.divider {
    border: ($Cloud 1px solid);
}
.divider2 {
    border: ($Cloud 1px solid);

    @include media-query_('mobile'){
        visibility: hidden;
     }

    @include media-query_('tablet'){
        margin: 1rem;
    }

    @include media-query_('desktop'){
        margin: 1rem;
    }
}
.divider3 {
    border: ($Cloud 1px solid);

    @include media-query_('tablet'){
        visibility: hidden;
    }

    @include media-query_('desktop'){
        visibility: hidden;
    }
}

.warehouse {
    box-shadow: 0px 2px 5px 0px #13182C1A;
    margin: 0 1rem;
    background-color: $White;
    position: absolute;
    z-index: 3;
    width: 90vw;
    height: 70vh;
    top: 3.75rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 1.5rem;

        &--text{
            @include text-styles('PageHeader', true);
            display: flex;

            & a{
                margin-right: 0.5rem;
                padding-top: 0.25rem;
            }
        }

        &--edit{
            width: 36px;
            height: 36px;
            display: flex;
            background-color: $InstockIndigo;
            border-radius: 20px;

            &-icon{
                padding: 0.37rem;
            }
        }
    }

    &__details{
        margin: 0 1.5rem;

         @include media-query_('tablet'){
            display: flex;
            justify-content: space-around;
         }
    
         @include media-query_('desktop'){
            display: flex;
            justify-content: space-around;
         }        

        &--address{
            display: flex;
            flex-direction: column;
            
            & h4{
                @include text-styles('TableHeader', true);
                margin-bottom: 0;
                color: $Slate                                                       
            }

            & p{
                @include text-styles('BodyMedium', true);
                margin-top: 0.25rem;
                color: $InstockBlack
            }
        }

        &--contact{
            display: flex;
            justify-content: space-between;

            @include media-query_('tablet'){
                width: 50%;
            }

            @include media-query_('desktop'){
                width: 50%;
            }

            &-name{

                & h4{
                    @include text-styles('TableHeader', true);
                    margin-bottom: 0;
                    color: $Slate                                                       
                }
    
                & p{
                    @include text-styles('BodyMedium', true);
                    margin-top: 0.25rem;
                    color: $InstockBlack
                }
            }

            &-info{

                & h4{
                    @include text-styles('TableHeader', true);
                    margin-bottom: 0;
                    color: $Slate
                }
    
                & p{
                    @include text-styles('BodyMedium', true);
                    margin-top: 0.25rem;
                    color: $InstockBlack
                }
            }
        }
    }
}