@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.divider {
    border: ($Cloud 1px solid);
}
.divider2 {
    border: ($Cloud 1px solid);

    @include media-query_('mobile'){
        visibility: hidden;
     }

    @include media-query_('tablet'){
        margin: 1rem 0;
    }

    @include media-query_('desktop'){
        margin: 1rem 0;
    }
}
.divider3 {
    border: ($Cloud 1px solid);

    @include media-query_('tablet'){
        visibility: hidden;
    }

    @include media-query_('desktop'){
        visibility: hidden;
    }
}

.warehouse {
    box-shadow: 0px 2px 5px 0px #13182C1A;
    margin: 0 1rem;
    background-color: $White;
    position: absolute;
    z-index: 3;
    width: 90vw;
    @include media-query_('desktop'){
        width: 80vw;
    }
    height: 70vh;
    top: 3.75rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 1.5rem 0;
        @include media-query_('tablet'){
            margin: 1rem 2rem 0;
         }
    
         @include media-query_('desktop'){
            margin: 1rem 2.5rem 0;
         }   


        &--text{
             @include media-query_('mobile'){
                @include text-styles('PageHeader', true)
             }
            @include text-styles('PageHeader');
            display: flex;

            & a{
                margin-right: 0.5rem;
                padding-top: 0.125rem;
            }
        }

        &--edit{
            width: 5.75rem;
            @include media-query_('mobile'){
                width: 2.5rem;
            }
            height: 2.5rem;
            display: flex;
            background-color: $InstockIndigo;
            border-radius: 20px;
            text-decoration: none;

            &-text{
                margin: auto;
                color: $White;
                @include text-styles('LabelsLinksButtons');

                @include media-query_('mobile'){
                    visibility: hidden;
                }
            }

            &-icon{
                padding: 0.37rem;
            }
        }
    }

    &__details{
        margin: 0 1.5rem;

         @include media-query_('tablet'){
            margin: 0 2rem;
            display: flex;
            justify-content: space-between;
         }
    
         @include media-query_('desktop'){
            margin: 0 2.5rem;
            display: flex;
            justify-content: space-between;
         }        

        &--address{
            display: flex;
            flex-direction: column;
            @include media-query_('desktop'){
                width: 30%;
            }
            
            & h4{
                 @include media-query_('mobile'){
                    @include text-styles('TableHeader', true);
                }
                @include text-styles('TableHeader');
                margin-bottom: 0;
                color: $Slate                                                       
            }

            & p{
                 @include media-query_('mobile'){
                    @include text-styles('BodyMedium', true);
                }    
                @include text-styles('BodyMedium');
                margin-top: 0.25rem;
                color: $InstockBlack
            }
        }

        &--contact{
            display: flex;
            justify-content: space-between;

            @include media-query_('tablet'){
                width: 60%;
                justify-content: flex-start;
            }

            @include media-query_('desktop'){
                width: 60%;
                justify-content: flex-start;
            }

            &-name{
                @include media-query_('tablet'){
                    width: 50%;
                }
                @include media-query_('desktop'){
                    width: 50%;
                }

                & h4{
                    @include media-query_('mobile'){
                        @include text-styles('TableHeader', true);
                    }
                    @include text-styles('TableHeader');
                    margin-bottom: 0;
                    color: $Slate                                                       
                }
    
                & p{
                    @include media-query_('mobile'){
                        @include text-styles('BodyMedium', true);
                    }
                    @include text-styles('BodyMedium');
                    margin-top: 0.25rem;
                    color: $InstockBlack
                }
            }

            &-info{
                @include media-query_('tablet'){
                    width: 50%;
                }
                @include media-query_('desktop'){
                    width: 50%;
                }

                & h4{
                    @include media-query_('mobile'){
                        @include text-styles('TableHeader', true);
                    }
                    @include text-styles('TableHeader');
                    margin-bottom: 0;
                    color: $Slate
                }
    
                & p{
                    @include media-query_('mobile'){
                        @include text-styles('BodyMedium', true);
                    }
                    @include text-styles('BodyMedium');
                    margin-top: 0.25rem;
                    color: $InstockBlack
                }
            }
        }
    }
}