@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;


// use this function for pixels to rem conversion
@function rem($a:0, $b:0, $c:0){
  @return math.div($a+$b+$c, 16) + rem;
}

@font-face {
  font-family: 'Regular';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf') format('TrueType');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SemiBold';
  src: url('./assets/fonts/TitilliumWeb-SemiBold.ttf') format('TrueType');
  font-weight: 600;
  font-style: normal;
}


