@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.whitebox{
    background-color: $White;
    position: absolute;
    z-index: 3;
    width: 90vw;
    height: 1800vh;
    top: 515rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);

}
Footer{
    width:100%;
}